# Testing
pytest
pytest-cov
pytest-mock
responses

# Linting and formatting
black
flake8
isort
mypy

# Type stubs
# types-python-dateuti
types-requests

# Development tools
ipython
ipdb

# docker image to run local datahub
acryl-datahub
